
$pink: rgba(252, 221, 221, 1) 92%;
$light-pink: rgba(247, 247, 247, 1) 23.8%;
$dark-pink: #fe8daa;
$white: #fff;
$white-50p: rgba(255,255,255,0.5);
$purple: rgba(252, 169, 169, 0.6);
$lavender: #dfdbdf;
$dark-lavender: #cdc2d0;
