@use 'colours';
@use 'keyframes';

.music-container {
    background-color: colours.$white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 colours.$purple;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;

    &.play {
        .img-container {
            img {
                animation-play-state: running;
            }
        }

        .music-info {
            opacity: 1;
            transform: translateY(-100%);
        }
    }
}

.img-container {
    position: relative;
    width: 110px;

    img {
        border-radius: 50%;
        object-fit: cover;
        height: 110px;
        width: inherit;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: rotate 3s linear infinite;
        animation-play-state: paused;
    }  

    &::after {
        content: '';
        background-color: colours.$white;
        border-radius: 50%;
        position: absolute;
        bottom: 55px;
        left: 50%;
        width: 25px;
        height: 25px;
        transform: translate(-50%, 50%);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: colours.$white;
    border: none;
    color: colours.$lavender;
    font-size: 20px;
    cursor: pointer;
    padding: 7px;
    margin: 0 20px;

    &.action-btn-big {
        color: colours.$dark-lavender;
        font-size: 30px;
    }

    &:focus {
        outline: none;
    }
}

.music-info {
    background-color: colours.$white-50p;
    border-radius: 15px 15px 0 0;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;

    h4 {
        margin: 0;
    }
}

.progress-container {
    background-color: colours.$white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;

    .progress {
        background-color: colours.$dark-pink;
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
    }
}
